![Immoscout](https://raw.githubusercontent.com/juliandnl/redi_ss20/master/image.png)

# Project - Immobilien Scout 24

--- 
## The description:
Have you heard about Immobilienscout 24?  [Immobilienscout 24](https://https://www.immobilienscout24.de/). It the biggest platform for renting appartments in Germany. The company hires data analysts and data scientists for analyzing the market data. They are especially interested in the Berlin market. The company wants to understand where to publish advertisment.

--- 
## The dataset:
The datasets contains information about rental appartments in Berlin. 
One row is for one appartment. The dataset contains 6 columns.  
- Region: is the Berlin district, where the flat is located
- Condition: is the condition of the flat
- Rooms: The number of rooms the flat has
- Rent: Monthly rent for the flat
- Year_Construction: The year in which the house was build
- Space: How many square meters does the flat has?

---
## The Task:
### Part 1
1. How many apartments are there in Mitte in a 'well-kept' condition?
2. How many apartments are there in Kreuzberg built before 1900?
3. What are the average spaces of the apartments having 4 rooms?
4. Which is the most expensive region on average and what is the maximum rent for this region?

Bonus:
5. What are the min, max and average number of rooms of the apartments in Köpenick?

---
### Part 2
6.  What is the average price per square meter for different Regions?
7. Is there a difference of average room space (`Space` divided by `Rooms`) for apartments built after 2000 versus apartment built before 2000?
8. What's the percentage of the apartments in high quality condition? 
In order to answer this question let's assume that high quality conditions are: `first_time_use`, `mint_condition`, `refurbished`, `first_time_use_after_refurbishment` and `fully_renovated`. The rest we can categorize as low quality condition.
Bonus:
9. We added to the dataset 2 new columns: `Posted_date` and `Rented_date`. As Immobilienscout we are interested in 2 KPIs:
  
  a) How many apartments where posted each month? 
  
  b) How many day does it take from posting about the apartment and renting it? We are interested in how this number change depending on the month of the posting.

In [2]:
import pandas as pd

In [13]:
immo = pd.read_csv("https://raw.githubusercontent.com/juliandnl/redi_ss20/master/berlin_rental.csv")
print(immo.sample(5))

          Region       Condition  Rooms    Rent  Year_Construction   Space
358  Wilmersdorf  first_time_use    3.0  1700.0               2017   82.07
350   Tiergarten  first_time_use    3.0  2375.0               2019  100.00
129   Tiergarten  no_information    1.0  1038.0               2020   30.00
512     Köpenick      modernized    2.0   750.0               1997   62.00
5       Köpenick       well_kept    2.0   840.0               1997   73.51

In [7]:
immo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 764 entries, 0 to 763
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Region             764 non-null    object
 1   Condition          764 non-null    object
 2   Rooms              764 non-null    float64
 3   Rent               764 non-null    float64
 4   Year_Construction  764 non-null    int64
 5   Space              764 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 35.9+ KB

# 1.How many apartments are there in Mitte in a 'well-kept' condition?

In [16]:
well_kept_mitte = immo[(immo['Region'] == 'Mitte') & (immo['Condition'] == 'well_kept')]
len(well_kept_mitte)

6

# 2.How many apartments are there in Kreuzberg built before 1900?

In [21]:
kreuzberg_before_1900 = immo[(immo['Region'] == 'Kreuzberg') & (immo['Year_Construction'] < 1900)]
kreuzberg_before_1900

,Region,Condition,Rooms,Rent,Year_Construction,Space
76,Kreuzberg,first_time_use,5.0,4400.0,1867,236.0
401,Kreuzberg,refurbished,4.0,2850.0,1895,127.0
697,Kreuzberg,first_time_use_after_refurbishment,2.0,1399.0,1874,50.0

# 3.What is the average space of the apartments & number of rooms per region?

In [26]:
immo.groupby('Region')[['Space','Rooms']].mean().round()

                 Space  Rooms
Region
Charlottenburg    88.0    3.0
Friedrichsfelde   66.0    2.0
Kreuzberg         92.0    2.0
Köpenick          74.0    2.0
Mitte             96.0    3.0
Neukölln          70.0    2.0
Prenzlauer        96.0    3.0
Tiergarten        90.0    3.0
Wedding           47.0    2.0
Wilmersdorf       86.0    3.0

In [28]:
#  FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
print(immo.groupby('Region')['Space', 'Rooms'].mean().round(1).sort_values('Space',ascending= False))

                 Space  Rooms
Region
Mitte             96.2    2.8
Prenzlauer        95.8    2.7
Kreuzberg         92.3    2.5
Tiergarten        90.2    2.7
Charlottenburg    88.1    2.5
Wilmersdorf       85.5    2.6
Köpenick          74.3    2.3
Neukölln          69.8    2.3
Friedrichsfelde   66.1    2.5
Wedding           46.9    1.7

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [29]:
print(immo.groupby('Region')['Space', 'Rooms'].mean().round(1).sort_values('Space',ascending= False))

                 Space  Rooms
Region
Mitte             96.2    2.8
Prenzlauer        95.8    2.7
Kreuzberg         92.3    2.5
Tiergarten        90.2    2.7
Charlottenburg    88.1    2.5
Wilmersdorf       85.5    2.6
Köpenick          74.3    2.3
Neukölln          69.8    2.3
Friedrichsfelde   66.1    2.5
Wedding           46.9    1.7

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

# 4.Which is the most expensive region on average and what is the maximum rent for this region?

In [48]:
# 1) Step-wise
# most expensive region on average: Mitte
mean_rent = immo.groupby('Region')[['Rent']].mean().round(2).sort_values('Rent', ascending=False)
print(mean_rent)

# maximum rent for this region:
rent_mitte = immo[(immo['Region'] == 'Mitte')]
rent_mitte.max()

                    Rent
Region
Mitte            2408.73
Kreuzberg        2049.14
Prenzlauer       1996.96
Tiergarten       1914.82
Charlottenburg   1753.45
Wilmersdorf      1748.65
Neukölln         1188.11
Köpenick         1125.48
Friedrichsfelde  1043.87
Wedding           847.14

Region                   Mitte
Condition            well_kept
Rooms                      5.0
Rent                   14207.0
Year_Construction         2020
Space                   413.91
dtype: object

In [49]:
# 2) Aggregated
# together:
mean_rent_max = immo.groupby('Region')[['Rent']].agg(['mean','max'])
mean_rent_max

# renamed multi-indexed columns and sorted by max_rent
mean_rent_max_2 = immo.groupby('Region')[['Rent']].agg([('mean_rent','mean'),('max_rent','max')]).sort_values([('Rent', 'max_rent')], ascending=False)
mean_rent_max_2

                        Rent
                   mean_rent  max_rent
Region
Mitte            2408.725033  14207.00
Charlottenburg   1753.452532   9774.00
Kreuzberg        2049.138085   6450.00
Prenzlauer       1996.962264   5930.00
Wilmersdorf      1748.646226   5876.35
Tiergarten       1914.824795   4945.00
Neukölln         1188.114915   2295.00
Köpenick         1125.475818   2159.20
Friedrichsfelde  1043.871731   2138.68
Wedding           847.138571   1949.26

# Bonus Question:
5. What are the min, max and average number of rooms of the apartments in Köpenick?

In [51]:
rooms_koepenick = immo.groupby('Region')[['Rooms']].agg(['mean', 'min', 'max'])
rooms_koepenick

                    Rooms
                     mean  min  max
Region
Charlottenburg   2.525316  1.0  5.0
Friedrichsfelde  2.500000  1.0  4.5
Kreuzberg        2.489362  1.0  5.0
Köpenick         2.281818  1.0  4.0
Mitte            2.754902  1.0  5.0
Neukölln         2.279661  1.0  5.0
Prenzlauer       2.660377  1.0  6.0
Tiergarten       2.736842  1.0  5.0
Wedding          1.726190  1.0  4.0
Wilmersdorf      2.613208  1.0  7.0

#  6. What is the average price per square meter for different Regions?

In [64]:
# a) new column: price_sq_meter (calculated as rent/ space)
def calculate_price_sq_meter(row):
    calc = row.Rent / row.Space
    return calc

immo['price_sq_meter'] = immo.apply(calculate_price_sq_meter, axis=1)
immo['price_sq_meter'] = immo['price_sq_meter'].round(2)
immo

,Region,Condition,Rooms,Rent,Year_Construction,Space,price_sq_meter,avg_room_space
0,Mitte,first_time_use,4.0,2659.00,2019,117.20,22.69,29.300
1,Kreuzberg,first_time_use,1.0,1200.00,2020,29.33,40.91,29.330
2,Köpenick,well_kept,2.0,979.00,1997,83.61,11.71,41.805
3,Wilmersdorf,well_kept,4.0,1830.22,1900,171.18,10.69,42.795
4,Kreuzberg,first_time_use,2.0,2272.00,2020,88.27,25.74,44.135
...,...,...,...,...,...,...,...,...
759,Wedding,mint_condition,1.0,959.00,2017,27.80,34.50,27.800
760,Wedding,mint_condition,1.0,649.00,2017,20.50,31.66,20.500
761,Wilmersdorf,mint_condition,4.0,2750.00,2017,110.00,25.00,27.500
762,Köpenick,well_kept,2.0,1259.00,2017,91.20,13.80,45.600
763,Neukölln,fully_renovated,2.0,888.00,1990,68.48,12.97,34.240

In [65]:
# b) get mean price_sq_meter & group by region
immo.groupby('Region')['price_sq_meter'].mean().round(2).sort_values(ascending=False)

# Mitte has the highest price with 25.97€ per square meter

Region
Mitte              25.97
Kreuzberg          23.33
Wedding            22.81
Prenzlauer         21.96
Wilmersdorf        21.47
Tiergarten         21.46
Charlottenburg     21.39
Neukölln           17.35
Friedrichsfelde    16.09
Köpenick           15.63
Name: price_sq_meter, dtype: float64

# 7. Is there a difference of average room space (`Space` divided by `Rooms`) for apartments built after 2000 versus apartment built before 2000?

In [66]:
# a) calculate the average room space 
def avg_room_space (row):
    return row.Space / row.Rooms

immo['avg_room_space'] = immo.apply(avg_room_space, axis=1)
immo

,Region,Condition,Rooms,Rent,Year_Construction,Space,price_sq_meter,avg_room_space
0,Mitte,first_time_use,4.0,2659.00,2019,117.20,22.69,29.300
1,Kreuzberg,first_time_use,1.0,1200.00,2020,29.33,40.91,29.330
2,Köpenick,well_kept,2.0,979.00,1997,83.61,11.71,41.805
3,Wilmersdorf,well_kept,4.0,1830.22,1900,171.18,10.69,42.795
4,Kreuzberg,first_time_use,2.0,2272.00,2020,88.27,25.74,44.135
...,...,...,...,...,...,...,...,...
759,Wedding,mint_condition,1.0,959.00,2017,27.80,34.50,27.800
760,Wedding,mint_condition,1.0,649.00,2017,20.50,31.66,20.500
761,Wilmersdorf,mint_condition,4.0,2750.00,2017,110.00,25.00,27.500
762,Köpenick,well_kept,2.0,1259.00,2017,91.20,13.80,45.600
763,Neukölln,fully_renovated,2.0,888.00,1990,68.48,12.97,34.240

In [80]:
# b) Problem: to many years to display
immo.groupby('Year_Construction')['avg_room_space'].mean()

Year_Construction
1864    35.660000
1867    47.200000
1870    39.190476
1873    46.710000
1874    25.000000
          ...
2016    35.178095
2017    28.408641
2018    31.706720
2019    31.812961
2020    29.707582
Name: avg_room_space, Length: 93, dtype: float64

In [77]:
# b) group by  apartments built before 2000 and after
apartments_before_2000  = immo.query('Year_Construction < 2000')
print('The average room space for apartments built before 2000 is ' + str(apartments_before_2000.avg_room_space.mean()))

apartments_in_after_2000  = immo.query('Year_Construction >= 2000')
print('The average room space for apartments built in or after 2000 is ' + str(apartments_in_after_2000.avg_room_space.mean()))

# -> newer apartments have smaller rooms

The average room space for apartments built before 2000 is 33.80296370469267
The average room space for apartments built in or after 2000 is 32.66485311189938

# 8. What's the percentage of the apartments in high quality condition? 

In order to answer this question let's assume that high quality conditions are: `first_time_use`, `mint_condition`, `refurbished`, `first_time_use_after_refurbishment` and `fully_renovated`. The rest we can categorize as low quality condition.

In [84]:
# 1) create column with value high_quality when condition is ...., else low_quality

def high_low_quality (row):
  if row['Condition'] in ['first_time_use', 'mint_condition', 'refurbished', 'first_time_use_after_refurbishment', 'fully_renovated']:
    val = 'high_quality' 
  else:
    val = 'low_quality'
  return val

immo['quality'] = immo.apply(high_low_quality, axis=1)

,Region,Condition,Rooms,Rent,Year_Construction,Space,price_sq_meter,avg_room_space,quality
0,Mitte,first_time_use,4.0,2659.00,2019,117.20,22.69,29.300,high_quality
1,Kreuzberg,first_time_use,1.0,1200.00,2020,29.33,40.91,29.330,high_quality
2,Köpenick,well_kept,2.0,979.00,1997,83.61,11.71,41.805,low_quality
3,Wilmersdorf,well_kept,4.0,1830.22,1900,171.18,10.69,42.795,low_quality
4,Kreuzberg,first_time_use,2.0,2272.00,2020,88.27,25.74,44.135,high_quality
...,...,...,...,...,...,...,...,...,...
759,Wedding,mint_condition,1.0,959.00,2017,27.80,34.50,27.800,high_quality
760,Wedding,mint_condition,1.0,649.00,2017,20.50,31.66,20.500,high_quality
761,Wilmersdorf,mint_condition,4.0,2750.00,2017,110.00,25.00,27.500,high_quality
762,Köpenick,well_kept,2.0,1259.00,2017,91.20,13.80,45.600,low_quality
763,Neukölln,fully_renovated,2.0,888.00,1990,68.48,12.97,34.240,high_quality

In [96]:
# 2) calculate the percentage
len(immo[(immo['quality'] == 'high_quality')])/ len(immo)*100

68.58638743455498

In [100]:
# 3) check distribution high versus low quality
immo['quality'].value_counts()

high_quality    524
low_quality     240
Name: quality, dtype: int64

--- 
# Review

This section is only for the reviewing team!

Guideline how to review:
https://docs.google.com/presentation/d/1YORFwlfVQo9ogj7jR9t6_pqxmGIlpBSGubbp1UdtcBQ/edit?usp=sharing

In [ ]:
#@title Review Criteria:
%%html
<h3><input type="checkbox"> 1. Are all questions answered? <br></h3> 
<h3><input type="checkbox"> 2. Does all code run through? <br></h3> 
<h3><input type="checkbox"> 3. Are the conclusions understandable?  <br></h3> 
<h3><input type="checkbox"> 4. Are the bonus question answered?  <br></h3>

In [ ]:
input("Do you have any feedback?")