# Project - Intro to Analytical Thinking

--- 
## The description:
We will go back to the Berlin rental prices dataset. 

Apply the methodology you learned in the last lecture and today to answer the following questions. On top of writing the code, please specifiy your analytical approach.

Suppose you are an analytics consultant and your client is the Senate of Berlin, looking to draft policy suggestions to **help make rent more affordable in the city.** While they have not (yet) asked you for a recommendation, they need to **understand the market's current state.**

For that, you are asked:

1. Is there a shortage of *affordable* apartments in Berlin in general, or is the issue concentrated in select neighbourhoods? (**hint**: you need to define the term "affordable" based on your own criteria first, before analyzing the number of apartments)

2. `Additional question`: A few companies are exploring *apartment renovation* as a viable business model — what impact could this practice have on the availability of *affordable* apartments?


--- 
## The dataset:
You all know this one already but to recap, this is a list of rental apartments in Berlin. One row is for one appartment. The dataset contains 6 columns. 
- Region: is the Berlin district, where the flat is located
- Condition: is the condition of the flat
- Rooms: The number of rooms the flat has
- Rent: Monthly rent for the flat
- Year_Construction: The year in which the house was build
- Space: The size of the flat in square meters

As you dive into this analysis, please remember that this is a scraped **snapshot** of the marketplace (there's no time dimension in this dataset).

--- 
## The Task:

For each of the two questions:
1. Define the term in the question that seem ambiguous
2. Break down the question into smaller questions that can be answered with an analysis as we have studied (**hint** see lecture slides: What plot fits to what analysis?)
3. Build a few plots or other types of analyses to answer the questions
4. Write a conclusion (addressing the Senate of Berlin) explaining the answer to the question

In [ ]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Get the dataset
df = pd.read_csv('https://raw.githubusercontent.com/juliandnl/redi_ss20/master/berlin_rental.csv')
df.head()

        Region       Condition  Rooms     Rent  Year_Construction   Space
0        Mitte  first_time_use    4.0  2659.00               2019  117.20
1    Kreuzberg  first_time_use    1.0  1200.00               2020   29.33
2     Köpenick       well_kept    2.0   979.00               1997   83.61
3  Wilmersdorf       well_kept    4.0  1830.22               1900  171.18
4    Kreuzberg  first_time_use    2.0  2272.00               2020   88.27

In [ ]:
# your code here